# https://github.com/Automattic/node-canvas/blob/prebuilds/.github/workflows/prebuild.yaml
name: node-canvas Windows ARM64 Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-11-arm
    env:
      CANVAS_VERSION_TO_BUILD: 'v3.2.0'

    steps:
      - uses: msys2/setup-msys2@v2
        id: msys2
        with:
          msystem: CLANGARM64
          update: true
          release: true
          path-type: inherit

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 21
          architecture: arm64

      - name: Checkout
        uses: actions/checkout@v4

      - name: Checkout node-canvas
        uses: actions/checkout@v4
        with:
          repository: 'Automattic/node-canvas'
          ref: 'v3.2.0'
          fetch-depth: 0
          path: node-canvas

      - name: Install dependencies
        working-directory: node-canvas
        continue-on-error: true
        run: |
          # https://github.com/microsoft/vcpkg/issues/47984
          mkdir C:\vcpkg\downloads
          curl -o C:\vcpkg\downloads\GNOME-pango-1.56.1.tar.gz "https://dev.maptiler.download/server/dependency/node_canvas/pango-1.56.1.tar.gz"
          curl -o C:\vcpkg\downloads\GNOME-gdk-pixbuf-2.42.12.tar.gz "https://dev.maptiler.download/server/dependency/node_canvas/gdk-pixbuf-2.42.12.tar.gz"
          vcpkg install pango:arm64-windows
          vcpkg install librsvg:arm64-windows --head
          vcpkg install glib:arm64-windows
          vcpkg install cairo:arm64-windows `
            freetype:arm64-windows `
            giflib:arm64-windows `
            libjpeg-turbo[core,jpeg8]:arm64-windows `
            libpng:arm64-windows
          Get-ChildItem -Path C:\vcpkg\ -Recurse

      - name: Build
        working-directory: node-canvas
        run: |
          echo "MSYS2 LOCATION: ${{steps.msys2.outputs.msys2-location}}"
          npm install -g node-gyp
          npm prefix -g | % {npm config set node_gyp "$_\node_modules\node-gyp\bin\node-gyp.js"}
          npm install --ignore-scripts
          msys2 -c ". ../node-canvas-patches/preinstall.sh"
          msys2 -c "cp ../node-canvas-patches/binding.gyp binding.gyp"
          dir C:\a\_temp\msys64\
          dir C:\a\_temp\msys64\clangarm64\
          dir C:\a\_temp\msys64\clangarm64\bin
          dir C:\a\_temp\msys64\clangarm64\lib\
          npm install --build-from-source

      - name: Bundle
        working-directory: node-canvas
        run: |
          rm build/Release/obj -Recurse -Force
          rm build/Release/canvas.exp -Force
          rm build/Release/canvas.iobj -Force
          rm build/Release/canvas.ipdb -Force
          rm build/Release/canvas.lib -Force
          rm build/Release/canvas.pdb -Force

          $base = "C:\vcpkg\installed\arm64-windows\bin"

          $files = @(
              "brotlicommon.dll",
              "brotlidec.dll",
              "bz2.dll",
              "cairo-2.dll",
              "cairo-gobject-2.dll",
              "ffi-8.dll",
              "fontconfig-1.dll",
              "freetype.dll",
              "fribidi-0.dll",
              "gdk_pixbuf-2.0-0.dll",
              "gif.dll",
              "gio-2.0-0.dll",
              "glib-2.0-0.dll",
              "gmodule-2.0-0.dll",
              "gobject-2.0-0.dll",
              "harfbuzz.dll",
              "iconv-2.dll",
              "intl-8.dll",
              "jpeg62.dll",
              "libexpat.dll",
              "liblzma.dll",
              "libpng16.dll",
              "libxml2.dll",
              "pango-1.0-0.dll",
              "pangocairo-1.0-0.dll",
              "pangoft2-1.0-0.dll",
              "pangowin32-1.0-0.dll",
              "pcre2-16.dll",
              "pcre2-32.dll",
              "pcre2-8.dll",
              "pixman-1-0.dll",
              "rsvg-2.dll",
              "tiff.dll",
              "turbojpeg.dll",
              "zlib1.dll"
          )

          foreach ($f in $files) {
              Copy-Item "$base\$f" "build\Release"
          }

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: node-canvas-arm64-win32
          path: node-canvas/build/Release
          retention-days: 1

      - name: Test binary
        # By not running in msys2, this doesn't have access to the msys2 libs
        working-directory: node-canvas
        run: npm test
